<div class="card shadow-sm">
    <div class="d-flex justify-content-center">
        <img src="{{employeeInfo && employeeInfo.image}}" width="80%" height="200" alt="">
    </div>
    <div class="card-body">
        <p class="card-text font-weight-bold">{{employeeInfo && employeeInfo.name}}</p>
        <p class="card-text">{{employeeInfo && employeeInfo.employeeId}}</p>
        <p class="card-text">{{employeeInfo && employeeInfo.department}}</p>
        <div class="d-flex justify-content-between align-items-center">
            
    </div>
</div>
