<div class="container">
  <div class="row featurette bg-light">
    <div class="col-md-5 d-flex align-items-center">
      <h1 class="featurette-heading fw-normal lh-1 heading-xlarge">
        <strong>
          A new HQ for all of your <br />
          employee info
        </strong>
      </h1>
    </div>
    <div class="col-md-7">
      <img
        width="100%"
        height="100%"
        src="https://odoocdn.com/openerp_website/static/src/img/apps/employees/show_off_those_skills.webp"
        alt=""
      />
    </div>
  </div>

  <div class="row featurette">
    <div class="col-md-12 order-md-2 align-center py-5">
      <h2 class="featurette-heading fw-normal lh-1">
        All of your people. All in one place.
      </h2>
      <p class="lead">
        Get a bird's eye view of every department before zooming in on the
        details. Sort employees by working hours, job title, even contract
        status to get a full picture of your team from every possible angle.
      </p>
    </div>
  </div>
</div>
